<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Companies | Jobsy</title>
    <script src="https://cdn.tailwindcss.com/"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>

</head>
<body class="min-h-screen relative flex flex-col justify-between w-full dark:bg-zinc-900 bg-white dark:text-white font-[Outfit]">
  <div class="edit-model fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50 hidden">
    <form action="/admin/profile" method="post" enctype="multipart/form-data" class="w-1/3 py-4 px-4 bg-white rounded-2xl shadow-xl z-20">
        <div>
          <h1 class="text-3xl font-bold text-center mb-4 cursor-pointer">Edit Profile</h1>
        </div>
        <div class="space-y-3">
          <input type="email" placeholder="Email Address" class="block text-sm py-3 px-4 rounded-lg w-full border outline-purple-500" value="{{data['email']}}" disabled />
          <input type="text" name="password" minlength="8" placeholder="Password" class="block text-sm py-3 px-4 rounded-lg w-full border outline-purple-500" value="{{data['password']}}" required/>
          <input type="text" name="name" placeholder="Full Name" class="block text-sm py-3 px-4 rounded-lg w-full border outline-purple-500" value="{{data['name']}}" required/>
          <input type="tel" name="phone" placeholder="Phone Number" class="block text-sm py-3 px-4 rounded-lg w-full border outline-purple-500" value="{{data['phone']}}" required />
          <input type="text" name="bio" placeholder="Enter Bio" class="block text-sm py-3 px-4 rounded-lg w-full border outline-purple-500" value="{{data['bio']}}" required />
          <span class="text-xs">Profile Picture</span>
          <input type="file" accept="image/*" name="profile" class="block text-sm py-3 px-4 rounded-lg w-full border outline-purple-500" value="{{data['profile']}}" />
          <p class="flex gap-3 items-center">
              <input type="checkbox" required> <span> I agree to edit profile.</span>
          </p>
        </div>
        <div class="text-center mt-3">
          <button class="w-full py-2 text-xl text-white bg-purple-500 rounded-lg hover:bg-purple-600 transition-all" type="submit">Edit</button>
        </div>
      </form>
</div>
    <header class="flex justify-between px-[5vw] shadow-md h-[60px] items-center">
        <a href="/admin/" class="text-2xl font-bold">Job<span class="text-violet-500">Hunt</span></a>
        <div class="flex items-center gap-[3vw] font-semibold text-lg dark:text-white text-slate-600">
            <a href="/admin/" class="hover:text-violet-500">Companies</a>
            <a href="/admin/jobs" class="hover:text-violet-500">Jobs</a>
            <a href="/admin/profile">
                <img src="/static/uploads/{{session['profile']}}" alt="Profile Image" title="Profile Image" class="w-[45px] h-[45px] rounded-full border border-[#000] dark:border-[#fff]">
            </a>
            <a href="/logout_admin" class="hover:text-violet-500"><i class="ri-logout-box-r-line"></i></a>
        </div>
    </header>
    <div class="app w-full px-[5vw] bg-slate-200 flex-1 py-[2vh]">
      <div class="px-[5vw] pt-[2vh] bg-white">
        <div class="flex justify-between items-center">
            <div class="justify-between flex items-center gap-[3vw]">
                <img src="/static/uploads/{{data['profile']}}" alt="Profile Image" title="Profile Image" class="w-[70px] h-[70px] rounded-full border border-[#000] dark:border-[#fff]">
                <div class="info flex flex-col gap-[1vh]">
                    <p class="text-lg font-semibold">{{data["name"]}}</p>
                    <p class="text-md text-slate-600 w-[50vw]">{{data["bio"]}}</p>
                </div>
            </div>
            <p id="editProfile" class="w-[50px] h-[50px] shadow-md flex justify-center hover:bg-violet-500 hover:text-[#fff] items-center rounded-[10px]">
              <i class="ri-pencil-line text-[1.4rem]"></i>
          </p>
        </div>
        <a href="mailto:{{data['email']}}" class="w-max flex items-center gap-[1vw] py-4"><i class="ri-mail-line text-[1.4rem]"></i> {{data['email']}}</a>
        <a href="tel:{{data['phone']}}" class="w-max flex items-center gap-[1vw] pb-4"><i class="ri-phone-line text-[1.4rem]"></i> {{data['phone']}}</a>
    </div>
    </div>
</body>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      },
      darkMode: 'selector',
    }
    let editBtn = document.querySelector("#editProfile");
    let editModel = document.querySelector('.edit-model');
    editBtn.addEventListener('click',() => {
        editModel.classList.remove("hidden")
    })
    editModel.addEventListener('click',(e) => {
        if (e.target === editModel){
            editModel.classList.add("hidden")
        }
    })
  </script>
</html>