<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Jobsy</title>
    <script src="https://cdn.tailwindcss.com/"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body class="min-h-screen flex justify-between flex-col w-full dark:bg-zinc-900 bg-white dark:text-white font-[Outfit]">
    <header class="flex justify-between px-[5vw] shadow-md h-[60px] items-center">
        <a href="/" class="text-2xl font-bold">Job<span class="text-violet-500">Hunt</span></a>
        <div class="flex items-center gap-[3vw] font-semibold text-lg dark:text-white text-slate-600">
            <a href="/" class="text-violet-500 hover:text-violet-500">Home</a>
            <a href="/jobs" class="hover:text-violet-500">Jobs</a>
            {% if "isStudent" in session %}
            <a href="/profile">
                <img src="/static/uploads/{{session['profile']}}" alt="Profile Image" title="Profile Image" class="w-[45px] h-[45px] rounded-full border border-[#000] dark:border-[#fff]">
            </a>
            <a href="/logout" class="hover:text-violet-500"><i class="ri-logout-box-r-line"></i></a>
            {% else %}
            <a href="/login" class="hover:bg-slate-100 font-normal dark:bg-zinc-900 bg-white dark:text-white text-slate-600 border border-slate-500 px-3 py-2 rounded-[10px]">Login</a>
            <a href="/register" class="hover:bg-violet-700 font-normal bg-violet-500 text-white px-3 py-2 rounded-[10px]">Signup</a>
            {% endif %}
        </div>
    </header>
    <main class="w-full gap-5 flex-1 flex flex-col items-center justify-center">
      <p class="label text-red-500 font-semibold p-2 rounded-full bg-slate-100 w-max">
        No. 1 Job Finding Website
      </p>
      <h1 class="text-4xl font-bold text-center">Search, Apply & <br>Get Your <span>Dream Jobs</span></h1>
      <p class="text-slate-600 w-[60vw] text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum obcaecati fuga excepturi officiis enim, nemo ducimus minus. Deserunt excepturi maiores eligendi, necessitatibus voluptates quia laboriosam.</p>
      <form action="/" method="post">
        <div class="w-[40vw] bg-white rounded-[15px] flex justify-between items-center">
          <input type="text" placeholder="Find your dream jobs" name="search" class="p-2 ps-4 flex-1 outline-0 border border-slate-500 rounded-s-full" required>
          <button class="text-white bg-violet-500 hover:bg-violet-600 rounded-e-full py-2 px-4"><i class="ri-search-line"></i></button>
        </div>
      </form>
    </main>
</body>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      },
      darkMode: 'selector',
    }
  </script>
</html>