<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Jobsy</title>
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="min-h-screen flex flex-col relative justify-between w-full dark:bg-zinc-900 bg-white dark:text-white font-[Outfit]">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div
        class="flashMsg z-[200] transition-all ease-linear w-max duration-300 text-nowrap overflow-hidden absolute -top-[15vh] left-[50%] -translate-x-[50%] p-2 border border-gray-300 px-4 bg-white shadow-lg rounded-full">
        <p>{{message}}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <header class="z-99 flex justify-between px-[5vw] shadow-md h-[60px] items-center">
        <a href="/" class="text-2xl font-bold">Job<span class="text-violet-500">Hunt</span></a>
        <div class="flex items-center gap-[3vw] font-semibold text-lg dark:text-white text-slate-600">
            <a href="/" class="hover:text-violet-500">Home</a>
            <a href="/jobs" class="hover:text-violet-500">Jobs</a>
            {#
            <a href="/profile">
                <img src="/static/uploads/def.avif" alt="Profile Image" title="Profile Image" class="w-[45px] h-[45px] rounded-full border border-[#000] dark:border-[#fff]">
            </a>#}
            <a href="/login" class="hover:bg-slate-100 font-normal dark:bg-zinc-900 bg-white dark:text-white text-slate-600 border border-slate-500 px-3 py-2 rounded-[10px]">Login</a>
            <a href="/register" class="hover:bg-violet-700 font-normal bg-violet-500 text-white px-3 py-2 rounded-[10px]">Signup</a>
        </div>
    </header>
    <div class="app w-full flex items-center justify-center bg-violet-300 flex-1">
        <form action="/login" method="post" class="py-12 px-12 bg-white rounded-2xl shadow-xl z-20">
            <div>
              <h1 class="text-3xl font-bold text-center mb-4 cursor-pointer">Login Account</h1>
              <p class="w-80 text-center text-sm mb-8 font-semibold text-gray-700 tracking-wide cursor-pointer">If you already have an account, please login</p>
            </div>
            <div class="space-y-4">
              <input type="email" name="email" placeholder="Email Address" class="block text-sm py-3 px-4 rounded-lg w-full border outline-purple-500" />
              <input type="password" name="password" minlength="8" placeholder="Password" class="block text-sm py-3 px-4 rounded-lg w-full border outline-purple-500" />
              <select name="type" class="block text-sm py-3 px-4 rounded-lg w-full border outline-purple-500">
                <option value="Student">Student</option>
                <option value="Recruiter">Recruiter</option>
              </select>
            </div>
            <div class="text-center mt-6">
              <button class="w-full py-2 text-xl text-white bg-purple-500 rounded-lg hover:bg-purple-600 transition-all" type="submit">Login</button>
              <p class="mt-4 text-sm">Doesn't Have An Account? <a href="/register" class="underline  cursor-pointer"> Signup</a></p>
            </div>
          </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
tailwind.config = {
  theme: {
    extend: {
      colors: {
        clifford: '#da373d',
      }
    }
  },
  darkMode: 'selector',
}
let tl = gsap.timeline()

    tl
        .from('.flashMsg', {
            top: '-15vh',
            duration: 1,
            ease: 'bounce'
        })
        .to('.flashMsg', {
            top: '15vh',
            duration: 1,
            ease: 'sine'
        })
        .to('.flashMsg', {
            delay: 1.5,
            opacity: 0,
            duration: 0.5
        })
        .to('.flashMsg', {
            top: '-15vh',
            duration: 0.5
        })
</script>
</html>